.footer1 {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  background: linear-gradient(to right, #ea384d, #d31027);
  justify-content: space-between;
}

.footer1 a {
  color: white;
}
.footer1 p {
  color: white;
}

.f1 {
  display: flex;
  flex-wrap: wrap;
  color: white;
  align-content: flex-end;
  padding-top: 2rem;
}

.f2 {
  display: flex;
  flex-wrap: wrap;
  color: white;
  align-content: flex-end;
  padding-top: 2rem;
}

.f1 p {
  padding-left: 2rem;
}
.f2 p {
  padding-right: 5rem;
}

@media (max-width: 742px) {
  .footer1 {
    flex-flow: column wrap;
  }
  .f2 {
    padding-top: 0%;
    padding-left: 2rem;
  }
}
